@page "/"
@inject IJSRuntime JsRuntime
@inject HttpClient httpClient

<PageTitle>MetaMood Dashboard</PageTitle>

<h1 id="greeting"></h1>

@if (IsSpotifyBarGraphReady)
{
@*    <Chart Id="bar1" Type="@Chart.ChartType.Bar"
           Data="@(Data)"
           BackgroundColor="@(new[] { "purple" })"
           Labels="@(Labels)">
    </Chart>*@



    <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <Chart Id="bar1" Type="@Chart.ChartType.Bar"
                   Data="@(Data)"
                   BackgroundColor="@(new[] { "purple" })"
                   Labels="@(Labels)">
                </Chart>
            </div>
            <div class="carousel-item">
                <Chart Id="bar2" Type="@Chart.ChartType.Bar"
                   Data="@(Data)"
                   BackgroundColor="@(new[] { "purple" })"
                   Labels="@(Labels)">
                </Chart>
            </div>
            <div class="carousel-item">
                <Chart Id="bar3" Type="@Chart.ChartType.Bar"
                   Data="@(Data)"
                   BackgroundColor="@(new[] { "purple" })"
                   Labels="@(Labels)">
                </Chart>
            </div>
        </div>
        <a class="carousel-control-prev carousel-button" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="oi oi-caret-left carousel-icon"></span>
        </a>
        <a class="carousel-control-next carousel-button" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="oi oi-caret-right carousel-icon"></span>
        </a>
    </div>


}
else
{
    <div class="spinner"></div>
}


@code {
    public string[]? Labels;
    public string[]? Data = { "0.00" };

    public bool IsSpotifyBarGraphReady = false;

    protected async override Task OnInitializedAsync()
    {
        Labels = ChartService.GetLabels(typeof(SpotifyTrackDTO));

        var requestTable = new HttpRequestMessage(HttpMethod.Get, $"/average/spotify-tracks");
        HttpResponseMessage responseTable = await httpClient.SendAsync(requestTable);

        // If the response was successful, asynchronously read and deserialize the JSON into a list that will be sent to the bar graph
        if (responseTable.IsSuccessStatusCode)
        {
            Data = await responseTable.Content.ReadFromJsonAsync<string[]>();
            IsSpotifyBarGraphReady = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("jsFunctions.TimedWelcome");
    }

}

